#jinja2: trim_blocks: True, lstrip_blocks: True
--- 
cluster_name: {{ cluster_version.resources[0].spec.clusterID }}
resource_requirements:
    control_plane: 
        {% for node in control_plane_list.resources %}
        {{ node.metadata.name }}: 
            vcpu: {{ node.status.capacity.cpu }}
            memory: {{ node.status.capacity.memory }}
        {% endfor %}
    worker_nodes: 
        {% for node in worker_node_list.resources %}
        {{ node.metadata.name }}: 
            vcpu: {{ node.status.capacity.cpu }}
            memory: {{ node.status.capacity.memory }}
    {% endfor %}
    storage_nodes:
networking:
    clusterNetwork:
        cidr: {{ cluster_network.resources[0].spec.clusterNetwork[0].cidr }}
    serviceNetwork: {{ cluster_network.resources[0].spec.serviceNetwork[0] }}
